TL_ENVIRONMENT="dev"
TL_DATABASE_DSN="postgresql://postgres:postgres@postgres/postgres"
TL_STORAGE_DIR="/app/storage/"
TL_AUTO_RELOAD="true"
TL_PROMETHEUS_NAME_PREFIX="turlalead"
TL_PROMETHEUS_PORT="9100"
TL_SENTRY_DSN=""
TL_BACKEND_BASE_URL=""
TL_TIME_RESERVE_COEF="1.5"
SMTP_HOST=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""